@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$themePrimary: '[theme:themePrimary, default:red]';
$themeSecondary: '[theme:themeSecondary, default:#5692b5]';
$themeTertiary: "[theme:themeTertiary, default:#69afe5]";
$themeLight: "[theme:themeLight, default:#b3d6f2]";
$themeAccent: "[theme:themeAccent, default:inherit]";
$themeDark: "[theme:themeDark, default:#005a9e]";
$themeDarkAlt: "[theme:themeDarkAlt, default:#106ebe]";
$themeDarker: "[theme:themeDarker, default:#004578]";
$neutralLighter: "[theme:neutralLighter, default:#fff]";
$white: "[theme:white, default:#fff]";


.Hide{
    display: none;
}
.Show{
    display: block;
}
.GroupBar:hover{
    cursor: pointer;
}
.GroupBar i{
    float: right;
}
.GroupBar{
    @include ms-Grid-row;
    background-color:rgb(0,50,98);
    color: white;
    width: 100%;
    padding:10px;
    @include ms-fontSize-l;
    margin-bottom: 5px;
    
}
// .ManualRow:hover{
//     background-color:rgba(0,50,98,.2);
//     color:white;
// }
.ManualRow a{
    color:rgba(0,50,98,1);
}
.ManualRow{
    @include ms-Grid-row;
    padding:0px 10px 10px 10px;
    margin-bottom: 2px;
    background-color:$themeLight;
    
    width: 100%;
    @include ms-fontSize-m;
}