@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.Hide{
    visibility: hidden;
}
.Show{
    visibility: visible;
}
.GroupBar{
    @include ms-Grid-row;
    background-color:steelblue;
    color: white;
    width: 100%;
    padding:10px;
    @include ms-fontSize-l;
}
.ManualRow{
    @include ms-Grid-row;
    padding:5px;
    width: 100%;
    @include ms-fontSize-m;
}